{{!-- <li>
	{{name}}

	<button class="change-goal" data-id="{{id}}" data-newgoal="{{goal}}">
		{{#if goal}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-goal" data-id="{{this.id}}">DELETE!</button>
</li> --}}
